* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 5%);
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#container::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/src/texture/gplay.png);
  scale: 4;
  opacity: 0.5;
}

#container:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}
#container .todo-div {
  background-color: rgba(33, 35, 36, 0.7);
  padding: 4rem;
  border-radius: 1rem;
  border-color: #ffffff44;
  border-style: solid;
  border-width: 1px;
}

#container video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
#container .desktop {
  display: none;
}
#container .phone {
  display: block;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

#container .phone div:first-child,
#container .phone div:nth-child(3) {
  font-size: 2em;
  margin-bottom: 0.5em;
}
#container .phone .fa {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
  color: #ffffff;
  font-family: "Sigmar", cursive;
  letter-spacing: 0.1em;
  text-align: center;
}
#container .todo-div {
  z-index: 2;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  width: 70%;
}

#container #input-text {
  font-family: "Anaheim", sans-serif;
  font-size: 1.5em;
  padding: 1rem;
  min-width: 70%;
  border-radius: 0.5rem;
  border: none;
}

#container .todo-div #list {
  font-size: 1.7rem;
  color: white;
  font-family: "Anaheim", sans-serif;
  padding: 0;
}

#container .todo-div #list li {
  list-style: none;

  padding-bottom: 1.5em;
}
#container .todo-div #list [data-button-delete] {
  border: 2px solid #ffffff80;
  padding: 0.7em 0.7em;
  border-radius: 0.5rem;
  margin-left: 1em;
  background-color: none;
}

#container .todo-div #list [data-button-delete]:hover {
  background-color: #ffffff80;
}

#container .todo-div #list [type="checkbox"],
#container .todo-div #list label {
  cursor: pointer;
}
/* #container .todo-div #list [data-item-checkbox] {
  /* create costum check box that will be hiiden after }*/
